// Specific CSS for your home-page
ul {
  list-style: none;
  font-weight: 600px;
}

body {
  text-align: center;
}

h3 {
  margin: 10px 0px;
  letter-spacing: 2px;
}

p {
  font-style: italic;
  margin: 10px 0px;
}

br {
  display: block;
  margin: 2px 0px;
  line-height: 10%;
}

h1 {
  color: rgb(100,100,100);
  font-weight: 600;
}
.container-header {
  text-align: center;
  display: flex;

}

.card {
  background-color: rgb(230,230,230);
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px 10px
}

// .container
